# Ignore the source TypeScript files, we only want the compiled output
src/
scripts/

# Ignore development tools and configs
node_modules/
.vscode/
test/
.github/
.husky/

# Ignore config files not needed at runtime
.prettierrc
.eslintrc.js
tsconfig.json
pnpm-lock.yaml
.npmrc
jsconfig.json
.gitignore

# Ignore documentation and the generated package file

*.vsix
